@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body{
	background: var(--dark);
}

:root {
	--dark: #3B3F50;
	--dark-d-1: #242734;
	--dark-d-2: #191B26;
	--grey-d-1: #BBB;
	--white: #FFF;
	--green: #01CC8E;
	--grey-d-2: #6A7274;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.container {
	max-width: 1200px;
	padding: 0 1.25rem;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}





/* NAVBAR */
nav {
	width: 100%;
	height: 4rem;
	background: var(--dark);
	border-bottom: .5px solid var(--grey);
	position: sticky;
	top: 0;
	z-index: 999;

}
nav .container {
	display: flex;
	align-items: center;
}
nav .logo {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--white);
	margin-right: auto;
}
nav .logo-White {
	font-size: 1.5rem;
	font-weight: 600;
	color: black;
	margin-right: auto;
}

nav .nav-menu {
	display: flex;
	grid-gap: 2rem;
	align-items: center;
}
nav .nav-menu li a {
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	color: var(--grey-d-1);
	transition: all .3s ease;
	font-size: .875rem;
	font-weight: 500;
}
nav .nav-menu li a::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 4px;
	background: transparent;
}
nav .nav-menu li a.active::before {
	background: var(--green);
}
nav .nav-menu li a:hover,
nav .nav-menu li a.active {
	color: var(--white);
}

/*whitechange*/
nav .nav-menu__white {
	display: flex;
	grid-gap: 2rem;
	align-items: center;
}
nav .nav-menu__white li a {
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	color: var(--grey-d-2);
	transition: all .3s ease;
	font-size: .875rem;
	font-weight: 500;
}
nav .nav-menu__white li a::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 4px;
	background: transparent;
}
nav .nav-menu__white li a.active::before {
	background: #1B5DB2;
}
nav .nav-menu__white li a:hover,
nav .nav-menu__white li a.active {
	color: #2E3334;
}




nav .toggle-menu {
	cursor: pointer;
	color: var(--white);
	font-size: 1.25rem;
	display: none;
}

nav .toggle-menu__white {
	cursor: pointer;
	color: #000;
	font-size: 1.25rem;
	display: none;
}


nav .bx-menu {
	color: white;
}




nav.white{
	background: var(--white);
	width: 100%;
	height: 4rem;
	border-bottom: .5px solid var(--grey);
	position: sticky;
	top: 0;
	z-index: 999;
}



.toggle-theme{
	cursor: pointer;
	margin-right: 20px;
	padding: 10px;
	height: 38px;
	width: 40px;
	border-radius: 4px;
}

.toggle-theme___icon{
	color: var(--white);
}
/* NAVBAR */




/* HEADER */
header{
	padding: 4rem 0;
	background: var(--dark);
}

header.header-white{
	padding: 4rem 0;
	background: var(--white);
}
header .container {
	display: flex;
	grid-gap: 2rem;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	align-items: center;
}
header .left,
header .right {
	flex: 1 1 calc(769px / 2);
}

header .left img{
    box-shadow: 25px 10px 30px 0px #30B980;
    border-radius: 15px;
	margin-left: 100px;
	animation: animationImg 2.5s 1;
}


@keyframes animationImg {
	0% {
		box-shadow: 25px 10px 30px 0px #354CF5;
	}
	50%{
		box-shadow: 25px 10px 30px 0px #6c0999;
	}
	
	100%{
		box-shadow: 25px 10px 30px 0px #30B980;
	}
}

header .left img {
	width: 50%;
}
header .right h4 {
	font-size: 1.1rem;
	font-weight: 500;
	color: var(--white);
	margin-bottom: 1rem;
}
header .right h1 {
	font-size: 2.15rem;
	font-weight: 600;
	color: var(--white);
	margin-bottom: 2.25rem;
}
header .right .links {
	display: flex;
	grid-gap: 1rem;
	align-items: center;
}
header .right .links .btn {
	padding: 1rem 2rem;
	font-weight: 500;
	color: var(--white);
	background: var(--green);
	border-radius: 5px;
	box-shadow: none;
	transition: all .3s ease;
}
header .right .links .btn:hover {
	box-shadow: 0 4px 24px var(--green);
}
header .right .links .btn:active {
	background: linear-gradient(to bottom, #2db88e, #1e755b);
	box-shadow: 0 0px 24px #1B5DB2;
}
header .right .links a:not(.btn) {
	color: var(--white);
	font-size: 1.25rem;
	transition: all .3s ease;
}
header .right .links a:not(.btn):hover {
	color: var(--green);
}

/* headerwhite */

header.header-white .left img{
    box-shadow: 25px 10px 30px 0px #1B5DB2;
    border-radius: 15px;
	margin-left: 100px;
	animation: animationImgWhite 2.5s 1;
}


@keyframes animationImgWhite {
	0% {
		box-shadow: 25px 10px 30px 0px var(--green);
	}
	50%{
		box-shadow: 25px 10px 30px 0px #c01818;
	}
	
	100%{
		box-shadow: 25px 10px 30px 0px #1B5DB2;
	}
}

header.header-white .right h4 {
	font-size: 1.1rem;
	font-weight: 500;
	color: #000;
	margin-bottom: 1rem;
}
header.header-white .right h1 {
	font-size: 2.15rem;
	font-weight: 600;
	color: #000;
	margin-bottom: 2.25rem;
}

header.header-white .right .links .btn {
	padding: 1rem 2rem;
	font-weight: 500;
	color: #000;
	background: #1B5DB2;
	border-radius: 5px;
	box-shadow: none;
	transition: all .3s ease;
}
header.header-white .right .links .btn:hover {
	box-shadow: 0 4px 24px #1B5DB2;
}
header.header-white .right .links .btn:active {
	background: linear-gradient(to bottom, #1B5DB2, #103b74);
	box-shadow: 0 0px 24px var(--green);
}
header.header-white .right .links a:not(.btn) {
	color: #000;
	font-size: 1.25rem;
	transition: all .3s ease;
}
header.header-white .right .links a:not(.btn):hover {
	color: #1B5DB2;
}


/* HEADER */



/* SERVICES */
.services {
	padding: 4rem 0;
	background: var(--dark-d-2);
}
#services .container {
	display: flex;
	grid-gap: 2rem;
	flex-wrap: wrap;
}
#services .left {
	flex: .2 1 0;
}
.services .left h1 {
	font-size: 1.25rem;
	font-weight: 600;
	color: var(--white);
}
#services .left h1 span {
	font-size: 3rem;
	font-weight: 700;
}
#services .right {
	flex: 1 1 768px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(calc(768px / 3), 1fr));
	grid-gap: 1.25rem;
}
/* #services .right .box {
	background: var(--dark-d-1);
	border-radius: 5px;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 1.5rem;
	transition: all .3s ease;
	align-items: flex-start;
}
#services .right .box:hover {
	background: var(--green);
}
#services .right .box .icon {
	font-size: 2rem;
	color: var(--white);
	margin-bottom: 1rem;
	transition: all .3s ease;
}
#services .right .box h4 {
	font-size: 1.25rem;
	font-weight: 600;
	color: var(--white);
	margin-bottom: 1rem;
	transition: all .3s ease;
}
#services .right .box a {
	color: var(--white);
	font-size: .875rem;
	font-weight: 500;
	margin-bottom: -1.5rem;
	opacity: 0;
	visibility: hidden;
	transition: all .3s ease;
	display: flex;
	grid-gap: .25rem;
	align-items: center;
}
#services .right .box:hover a {
	margin-bottom: 0;
	opacity: 1;
	visibility: visible;
}
#services .right .box a:hover {
	grid-gap: .75rem;
} */

.abilities{
	width: 100%;
	max-width: 600px;
	padding: 0 20px;
	background: var(--dark-d-1);
	border-radius: 5px;	
	padding: 1.5rem;
	
}

.name__abilitie{
	font-size: 16px;
	font-weight: 700;
	color: var(--white);
	text-transform: uppercase;
	margin: 20px 0px;
}

.progress__bar{
	height: 14px;
	background: #444;
	border-radius: 5px;
}

.porcentaje{
	height: 14px;
	background: slateblue;
	border-radius: 5px;
	position: relative;
	animation: animation 4.5s 1;
}

.porcentaje::before {
	content: attr(porcentaje);
	position: absolute;
	padding: 4px 6px;
	background-color: #fffafa;
	border-radius: 5px;
	font-size: 12px;
	top: -35px;
	right: 0;
	transform: translateX(50%);
}

.porcentaje::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background: #fffafa;
	top: -16px;
	right: 0;
	transform: translateX(50%) rotate(45deg);
}

@keyframes animation {
	0% {
		width: 0;
		background: var(--green);
	}
	20%{
		background: #008b8b;
	}
	50%{
		background: #dc143c;
	}
	
	100%{
		width: 100%;
		background: #6a6acd;
	}
}


/* serviceswhite */

.services-white {
	padding: 4rem 0;
	background: #787879;
}

.services-white .left h1 {
	font-size: 1.25rem;
	font-weight: 600;
	color: #000;
}

.abilities-white{
	width: 100%;
	max-width: 600px;
	padding: 0 20px;
	background: #626262;
	border-radius: 5px;	
	padding: 1.5rem;
	
}

.name__abilitie-white{
	font-size: 16px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	margin: 20px 0px;
}



.porcentaje-white{
	height: 14px;
	background: #FF3E14;
	border-radius: 5px;
	position: relative;
	animation: animationWhite 4.5s 1;
}

.porcentaje-white::before {
	content: attr(porcentaje);
	position: absolute;
	padding: 4px 6px;
	background-color: #000000;
	color: white;
	border-radius: 5px;
	font-size: 12px;
	top: -35px;
	right: 0;
	transform: translateX(50%);
}

.porcentaje-white::after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background: #000000;
	top: -16px;
	right: 0;
	transform: translateX(50%) rotate(45deg);
}

@keyframes animationWhite{
	0% {
		width: 0;
		background: var(--white);
	}
	20%{
		background: #8b0035;
	}
	50%{
		background: #1421dc;
	}
	
	100%{
		width: 100%;
		background: #FF3E14;
	}
}

/* SERVICES */





/* PORTFOLIO */
.portfolio {
	padding: 4rem 0;
	background: var(--dark);
}
.portfolio h1 {
	font-size: 2.25rem;
	max-width: 500px;
	font-weight: 600;
	margin-bottom: 2.25rem;
	color: var(--white);
}
#portfolio .wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(calc(769px / 3), 1fr));
	grid-gap: 1.25rem;
}
.portfolio .box {
	padding: 1.25rem;
	border-radius: 5px;
	background: var(--dark-d-1);
	color: var(--white);
}
#portfolio .box img {
	width: 100%;
}
#portfolio .box h4 {
	font-size: 1.25rem;
	font-weight: 600;
	margin: 1rem 0;
	transition: all .3s ease;
}
.portfolio .box:hover h4 {
	color: var(--green);
}


/* portfoliowhite */

.portfolio-white {
	padding: 4rem 0;
	background: var(--white);
}
.portfolio-white h1 {
	font-size: 2.25rem;
	max-width: 500px;
	font-weight: 600;
	margin-bottom: 2.25rem;
	color: #000;
}

.portfolio-white .box {
	padding: 1.25rem;
	border-radius: 5px;
	background: var(--dark-d-1);
	color: var(--white);
}

.portfolio-white .box:hover h4 {
	color: var(--green);
}

/* PORTFOLIO */





/* CONTACT */
#contact {
	padding: 4rem 0;
	background: var(--dark);
}
#contact .container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
#contact .wrapper {
	padding: 1.5rem;
	border-radius: 10px;
	background: var(--dark-d-1);
}
#contact h2 {
	max-width: 768px;
	margin: 0 auto;
	font-size: 2rem;
	font-weight: 600;
	color: var(--white);
	text-align: center;
	margin-bottom: 1.5rem;
}
#contact form {
	max-width: 768px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}
#contact form input {
	padding: .75rem 1rem;
	background: var(--dark-d-2);
	outline: none;
	border: none;
	border-radius: 5px;
	width: 100%;
	color: var(--white);
	border-bottom: 3px solid var(--green);
}
#contact form input:focus{
	border-bottom: 3px solid #057a4d;
	background: #0f0f11;
}
#contact form textarea {
	padding: .75rem 1rem;
	background: var(--dark-d-2);
	outline: none;
	border: none;
	border-radius: 5px;
	border-bottom: 3px solid var(--green);
	width: 100%;
	color: var(--white);
	resize: none;
	margin-top: 10px;
}
#contact form textarea:focus{
	border-bottom: 3px solid #057a4d;
	background: #0f0f11;
}
#contact form button {
	padding: .75rem 2rem;
	background: var(--green);
	color: var(--white);
	font-weight: 500;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	outline: none;
	margin-top: 10px;
}
#contact form button:hover{
	background-color: #2db88e;
	box-shadow: 0 4px 24px var(--green);
}
#contact form button:focus{
	background-color: #11d89c;
}
#contact form button:active{
	background: linear-gradient(to bottom, #2db88e, #1e755b);
	box-shadow: 0 4px 24px #1B5DB2;
}
/* CONTACT */




/* FOOTER */
footer {
	background: var(--dark-d-2);
}
footer .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 4rem;
}
footer .logo {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--white);
	margin-right: auto;
}
footer p {
	font-size: .875rem;
	font-weight: 500;
	color: var(--white);
}
footer p a {
	color: var(--green);
}
footer p a:hover {
	text-decoration: underline;
}
/* FOOTER */


/* SUCCESS file */
#email{
	padding: 0 4rem 0;
	background: var(--dark);
}

#email .boxm{
	padding: 2.25rem;
	background: var(--dark-d-1);
	color: var(--white);
}

#email .boxm .page{
	padding: 1rem 2rem;
	margin-top: 50px;
	background-color: var(--green);
	color: var(--white);
	border-radius: 5px;
}

#email h3{
	color: var(--white);
	direction: ltr;
}

#email a{
	color: var(--white);
	text-decoration: none;
}

#email .boxm .linkposition{
	display: flex;
	grid-gap: 1rem;
	align-items: center;
}
/* SUCCESS file */




/*@MEDIA*/


@media screen and (max-width: 1200px) {
	.container {
		max-width: 991px;
	}
}





@media screen and (max-width: 991px) {
	.container {
		max-width: 768px;
	}
}






@media screen and (max-width: 768px) {
	.container {
		max-width: 576px;
	}
}




@media screen and (max-width: 576px) {
	nav .toggle-menu {
		display: block;
	}
	nav .toggle-menu__white {
		display: block;
	}
	nav .nav-menu {
		position: absolute;
		top: 100%;
		width: 100%;
		padding: 1.25rem;
		background: var(--dark);
		left: 0;
		flex-direction: column;
		align-items: flex-start;
		grid-gap: 0;
		box-shadow: 0 4px 16px rgba(0,0,0,.1);
		opacity: 0;
		visibility: hidden;
		transition: all .3s ease;
	}
	
	nav .toggle-menu {
		cursor: pointer;
		color: var(--white);
		font-size: 1.25rem;
		
	}
	
	nav .toggle-menu__white {
		cursor: pointer;
		color: black;
		font-size: 1.25rem;
		
	}

	
	nav .nav-menu.show {
		opacity: 1;
		visibility: visible;
	}
	nav .nav-menu li a {
		height: 2.5rem;
	}

	/*u list in white*/

	nav .nav-menu__white {
		position: absolute;
		top: 100%;
		width: 100%;
		padding: 1.25rem;
		background: var(--white);
		left: 0;
		flex-direction: column;
		align-items: flex-start;
		grid-gap: 0;
		box-shadow: 0 4px 16px rgba(228, 228, 228, 0.932);
		opacity: 0;
		visibility: hidden;
		transition: all .3s ease;
	}

	nav .nav-menu__white.show {
		opacity: 1;
		visibility: visible;
	}
	nav .nav-menu__white li a {
		height: 2.5rem;
	}



	header .right h1 {
		font-size: 2.5rem;
	}
	header .right h4 {
		font-size: 1rem;
	}
	#contact h1 {
		font-size: 1.5rem;
	}

	header .left img{
		
		margin: 80px;
	}
	
}







@media screen and (max-width: 400px) {
	#portfolio .wrapper,
	#services .right {
		grid-template-columns: 1fr;
	}

	header .left img{
		width: 150px;
		margin: 80px;
	}
}