@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html {
	scroll-behavior: smooth;
}

:root {
	--dark: #3B3F50;
	--dark-d-1: #242734;
	--dark-d-2: #191B26;
	--grey: #BBB;
	--white: #FFF;
	--green: #01CC8E;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.container {
	max-width: 1200px;
	padding: 0 1.25rem;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}





/* NAVBAR */
nav {
	width: 100%;
	height: 4rem;
	background: var(--dark);
	border-bottom: .5px solid var(--grey);
	position: sticky;
	top: 0;
	z-index: 999;
}
nav .container {
	display: flex;
	align-items: center;
}
nav .logo {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--white);
	margin-right: auto;
}
nav .nav-menu {
	display: flex;
	grid-gap: 2rem;
	align-items: center;
}
nav .nav-menu li a {
	height: 4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	color: var(--grey);
	transition: all .3s ease;
	font-size: .875rem;
	font-weight: 500;
}
nav .nav-menu li a::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 4px;
	background: transparent;
}
nav .nav-menu li a.active::before {
	background: var(--green);
}
nav .nav-menu li a:hover,
nav .nav-menu li a.active {
	color: var(--white);
}
nav .toggle-menu {
	cursor: pointer;
	color: var(--white);
	font-size: 1.25rem;
	display: none;
}
/* NAVBAR */


/* HEADER */
header {
	padding: 4rem 0;
	background: var(--dark);
}
header .container {
	display: flex;
	grid-gap: 2rem;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	align-items: center;
}
header .left,
header .right {
	flex: 1 1 calc(769px / 2);
}

header .left img{
    border:  15px solid #191B26;
    border-radius: 10px;
}

header .left img {
	width: 100%;
}
header .right h4 {
	font-size: 1.25rem;
	font-weight: 500;
	color: var(--white);
	margin-bottom: 1rem;
}
header .right h1 {
	font-size: 3.5rem;
	font-weight: 600;
	color: var(--white);
	margin-bottom: 2.25rem;
}
header .right .links {
	display: flex;
	grid-gap: 1rem;
	align-items: center;
}
header .right .links .btn {
	padding: 1rem 2rem;
	font-weight: 500;
	color: var(--white);
	background: var(--green);
	border-radius: 5px;
	box-shadow: none;
	transition: all .3s ease;
}
header .right .links .btn:hover {
	box-shadow: 0 4px 24px var(--green);
}
header .right .links a:not(.btn) {
	color: var(--white);
	font-size: 1.25rem;
	transition: all .3s ease;
}
header .right .links a:not(.btn):hover {
	color: var(--green);
}
/* HEADER */